mythtv/themes/mythuitheme.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace" />

    <!-- All widgets -->
    <xs:group name="widgets">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:element ref="fontdef" />
                <xs:element ref="textarea" />
                <xs:element ref="imagetype" />
                <xs:element ref="statetype" />
                <xs:element ref="button" />
                <xs:element ref="buttonlist" />
                <xs:element ref="buttontree" />
                <xs:element ref="textedit" />
                <xs:element ref="checkbox" />
                <xs:element ref="spinbox" />
                <xs:element ref="progressbar" />
                <xs:element ref="clock" />
                <xs:element ref="webbrowser" />
                <xs:element ref="shape" />
                <xs:element ref="guidegrid" />
            </xs:choice>
        </xs:sequence>
    </xs:group>


    <!-- Elements common to all widgets -->
    <xs:group name="widget_common">
        <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="1">
                <xs:element name="area" type="area" />
                <xs:element name="position" type="position" />
            </xs:choice>
            <xs:element name="alpha" type="alpha" minOccurs="0" maxOccurs="1" />
            <xs:element name="alphapulse" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="min" type="alpha" default="0" />
                    <xs:attribute name="max" type="alpha" default="255" />
                    <xs:attribute name="change" type="xs:integer" default="5" />
                </xs:complexType>
            </xs:element>
            <xs:element name="helptext" type="text" minOccurs="0" maxOccurs="1" />
            <xs:element name="focusorder" type="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="minsize" type="size" minOccurs="0" maxOccurs="1" />
            <xs:element name="loadondemand" type="boolean" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:group>


    <!-- Attributes common to all widgets -->
    <xs:attributeGroup name="common_attributes">
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="from" type="xs:string" />
    </xs:attributeGroup>


    <!-- Common type declarations -->
    <xs:simpleType name="boolean">
        <xs:restriction base="xs:string">
            <xs:enumeration value="true" />
            <xs:enumeration value="false" />
            <xs:enumeration value="1" />
            <xs:enumeration value="0" />
            <xs:enumeration value="yes" />
            <xs:enumeration value="no" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="percentage">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="100" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="area">
        <xs:restriction base="xs:string">
            <xs:pattern value="(-?[0-9]*|\d{0,3}%),(-?[0-9]*|\d{0,3}%),([0-9]*|\d{0,3}%),([0-9]*|\d{0,3}%)" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="position">
        <xs:restriction base="xs:string">
            <xs:pattern value="(-?[0-9]*|\d{0,3}%),(-?[0-9]*|\d{0,3}%)" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="size">
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9]*|\d{0,3}%),([0-9]*|\d{0,3}%)" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="color">
        <xs:restriction base="xs:string">
            <xs:pattern value="#[0-9A-Fa-f]{6}" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="alpha">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="255" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="text">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="xs:language" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="align">
        <xs:restriction base="xs:string">
            <xs:pattern value="(left|right|top|bottom|hcenter|vcenter|center|allcenter)(,(left|right|top|bottom|hcenter|vcenter|center|allcenter))?" />
        </xs:restriction>
    </xs:simpleType>


    <!-- MythUI Theme Root -->
    <xs:element name="mythuitheme">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widgets" />
                <xs:element ref="window" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- Font Definition -->
    <xs:element name="fontdef">
        <xs:complexType>
            <!-- XML Schema sucks, no choice but to enforce order here -->
            <xs:sequence>
                <xs:choice minOccurs="0" maxOccurs="1">
                    <xs:element name="pixelsize" type="xs:integer" />
                    <xs:element name="size" type="xs:integer" />
                </xs:choice>
                <xs:element name="color" type="color" minOccurs="0" maxOccurs="1" />
                <xs:element name="shadowcolor" type="color" minOccurs="0" maxOccurs="1" />
                <xs:element name="shadowoffset" type="position" minOccurs="0" maxOccurs="1" />
                <xs:element name="shadowalpha" type="alpha" minOccurs="0" maxOccurs="1" />
                <xs:element name="outlinecolor" type="color" minOccurs="0" maxOccurs="1" />
                <xs:element name="outlinesize" type="xs:integer" minOccurs="0" maxOccurs="1" />
                <xs:element name="outlinealpha" type="alpha" minOccurs="0" maxOccurs="1" />
                <xs:element name="weight" minOccurs="0" maxOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="1" />
                            <xs:enumeration value="ultralight" />
                            <xs:enumeration value="2" />
                            <xs:enumeration value="light" />
                            <xs:enumeration value="3" />
                            <xs:enumeration value="normal" />
                            <xs:enumeration value="4" />
                            <xs:enumeration value="demibold" />
                            <xs:enumeration value="5" />
                            <xs:enumeration value="bold" />
                            <xs:enumeration value="6" />
                            <xs:enumeration value="black" />
                            <xs:enumeration value="7" />
                            <xs:enumeration value="ultrablack" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="letterspacing" type="xs:integer" minOccurs="0" maxOccurs="1" />
                <xs:element name="wordspacing" type="xs:integer" minOccurs="0" maxOccurs="1" />
                <xs:element name="decoration" minOccurs="0" maxOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="underline" />
                            <xs:enumeration value="overline" />
                            <xs:enumeration value="strikeout" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
            <xs:attribute name="face" type="xs:string" />
        </xs:complexType>
    </xs:element>


    <!-- Window/Screen -->
    <xs:element name="window">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />
                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>


    <!-- Textarea Widget -->
    <xs:group name="textarea_elements">
        <!-- XML Schema sucks, no choice but to enforce order here -->
        <xs:sequence>
            <xs:element name="case" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="normal" />
                        <xs:enumeration value="upper" />
                        <xs:enumeration value="lower" />
                        <xs:enumeration value="capitaliseall" />
                        <xs:enumeration value="capitalisefirst" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="font" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="state" type="xs:string" />
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="cutdown" type="boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="multiline" type="boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="align" type="align" minOccurs="0" maxOccurs="1" />
            <xs:element name="colorcycle" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                        <xs:attribute name="start" type="color" />
                        <xs:attribute name="end" type="color" />
                        <xs:attribute name="steps" type="xs:integer" />
                </xs:complexType>
            </xs:element>
            <xs:element name="scroll" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:attribute name="direction" default="left">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="left" />
                                <xs:enumeration value="up" />
                                <xs:enumeration value="right" />
                                <xs:enumeration value="down" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
            <xs:element name="value" type="text" minOccurs="0" maxOccurs="1" />
            <xs:element name="template" type="text" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:group>

    <xs:element name="textarea">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />

                <xs:group ref="textarea_elements" />

                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>


    <!-- Imagetype Widget -->
    <xs:element name="imagetype">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />
                <xs:element name="filename" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="preserveaspect" type="boolean" minOccurs="0" maxOccurs="1" />
                <xs:element name="crop" type="area" minOccurs="0" maxOccurs="1" />
                <!-- REMOVE ME -->
                <xs:element name="gradient" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:attribute name="start" type="color" />
                        <xs:attribute name="end" type="color" />
                        <xs:attribute name="alpha" type="alpha" />
                    </xs:complexType>
                </xs:element>
                <!-- END REMOVE ME -->
                <xs:element name="mask" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="reflection" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:attribute name="axis" type="xs:string" default="horizontal" />
                        <xs:attribute name="shear" type="percentage" default="0" />
                        <xs:attribute name="scale" type="percentage" default="100" />
                        <xs:attribute name="length" type="percentage" default="100" />
                        <xs:attribute name="spacing" type="xs:integer" default="0" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="grayscale" type="boolean" minOccurs="0" maxOccurs="1" />
                <xs:element name="greyscale" type="boolean" minOccurs="0" maxOccurs="1" />
                <xs:element name="filepattern" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="low" type="xs:integer" default="0" />
                                <xs:attribute name="high" type="xs:integer" use="required" />
                                <xs:attribute name="cycle" default="start">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="start" />
                                            <xs:enumeration value="reverse" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="delay" type="xs:integer" default="500" />
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="delay" type="xs:integer" minOccurs="0" maxOccurs="1" />

                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>


    <!-- Shape Widget -->
    <xs:element name="shape">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />

                <xs:element name="type" minOccurs="0" maxOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="box" />
                            <xs:enumeration value="roundbox" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="cornerradius" type="xs:integer" minOccurs="0" maxOccurs="1"/>

                <xs:element name="fill" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="gradient" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="stop" minOccurs="0" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:attribute name="position" type="position" use="required" />
                                                <xs:attribute name="color" type="color" use="required" />
                                                <xs:attribute name="alpha" type="alpha" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="start" type="xs:anySimpleType" />
                                    <xs:attribute name="end" type="xs:anySimpleType" />
                                    <xs:attribute name="alpha" type="xs:anySimpleType" />
                                    <xs:attribute name="direction" default="vertical">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="horizontal" />
                                                <xs:enumeration value="vertical" />
                                                <xs:enumeration value="diagonal" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="color" type="color" />
                        <xs:attribute name="alpha" type="alpha" />
                        <xs:attribute name="style" default="solid">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="solid" />
                                    <xs:enumeration value="gradient" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>

                <xs:element name="line" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:attribute name="color" type="color" default="#000000" />
                        <xs:attribute name="alpha" type="alpha" default="255" />
                        <xs:attribute name="width" type="xs:integer" default="1" />
                        <xs:attribute name="style" default="solid">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="solid" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>

                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>


    <!-- Statetype Widget -->
    <xs:element name="statetype">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />

                <xs:element name="showempty" type="boolean" minOccurs="0" maxOccurs="1" />
                <xs:element name="state" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:group ref="widget_common" />
                            <xs:group ref="widgets" />
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" />
                        <xs:attribute name="type" type="xs:string" />
                        <xs:attribute name="from" type="xs:string" />
                    </xs:complexType>
                </xs:element>

                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>


    <!-- Clock Widget -->
    <xs:element name="clock">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />
                <xs:group ref="textarea_elements" />
                <xs:element name="secondflash" type="boolean" minOccurs="0" maxOccurs="1" />
                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>


    <!-- Button Widget -->
    <xs:element name="button">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />
                <xs:element name="value" type="text" minOccurs="0" maxOccurs="1" />
                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>


    <!-- Buttonlist Widget -->
    <xs:group name="buttonlist_elements">
        <!-- XML Schema sucks, no choice but to enforce order here -->
        <xs:sequence>
            <xs:element name="align" type="align" minOccurs="0" maxOccurs="1" />
            <xs:element name="layout" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="horizontal" />
                        <xs:enumeration value="vertical" />
                        <xs:enumeration value="grid" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="spacing" type="xs:integer" minOccurs="0" maxOccurs="1" />
            <xs:element name="arrange" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="fixed" />
                        <xs:enumeration value="stack" />
                        <xs:enumeration value="fill" />
                        <xs:enumeration value="spread" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="scrollstyle" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="center" />
                        <xs:enumeration value="free" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="wrapstyle" minOccurs="0" maxOccurs="1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="none" />
                        <xs:enumeration value="selection" />
                        <xs:enumeration value="items" />
                        <xs:enumeration value="captive" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="showarrow" type="boolean" minOccurs="0" maxOccurs="1" />
            <xs:element name="buttonarea" type="area" minOccurs="0" maxOccurs="1" />
            <xs:element name="drawfrombottom" type="boolean" minOccurs="0" maxOccurs="1" />
        </xs:sequence>
    </xs:group>

    <xs:element name="buttonlist">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />
                <xs:group ref="buttonlist_elements" />
                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>


    <!-- Buttontree Widget -->
    <xs:element name="buttontree">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />

                <xs:element name="numlists" type="xs:integer" />
                <xs:element name="spacing" type="xs:integer" />
                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>


    <!-- Textedit Widget -->
    <xs:complexType name="textedit">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:group ref="widget_common" />

            <xs:group ref="widgets" />
        </xs:choice>
        <xs:attributeGroup ref="common_attributes" />
    </xs:complexType>
    <xs:element name="textedit" type="textedit" />


    <!-- Checkbox Widget -->
    <xs:element name="checkbox">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />
                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>


    <!-- Spinbox Widget -->
    <xs:element name="spinbox">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />
                <xs:group ref="buttonlist_elements" />
                <xs:element name="template" minOccurs="0" maxOccurs="3">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="text">
                                <xs:attribute name="type">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="positive" />
                                            <xs:enumeration value="zero" />
                                            <xs:enumeration value="negative" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>


    <!-- Progressbar Widget -->
    <xs:element name="progressbar">
       <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />
                <xs:element name="layout" minOccurs="0" maxOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="horizontal" />
                            <xs:enumeration value="vertical" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="style" minOccurs="0" maxOccurs="1">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="reveal" />
                            <xs:enumeration value="slide" />
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>


    <!-- Guidegrid Widget -->
    <xs:complexType name="guidegrid">
        <xs:sequence>
            <xs:group ref="widget_common" />
            <xs:element name="channels" type="xs:integer" />
            <xs:element name="timeslots" type="xs:integer" />
            <xs:element name="solidcolor" type="color" />
            <xs:element name="selector">
                <xs:complexType>
                    <xs:attribute name="type">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="highlight" />
                                <xs:enumeration value="box" />
                                <xs:enumeration value="roundbox" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="linecolor" type="color" />
                    <xs:attribute name="fillcolor" type="color" />
                </xs:complexType>
            </xs:element>
            <xs:element name="showcategories" type="boolean" />
            <xs:element name="categoryalpha" type="alpha" />
            <xs:element name="recordingcolor" type="color" />
            <xs:element name="conflictingcolor" type="color" />
            <xs:element name="cutdown" type="boolean" />
            <xs:element name="multiline" type="boolean" />
            <xs:element name="textoffset" type="position" />
            <xs:element name="recordstatus">
                <xs:complexType>
                    <xs:attribute name="type" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="ChannelRecord" />
                                <xs:enumeration value="WeekslotRecord" />
                                <xs:enumeration value="OverrideRecord" />
                                <xs:enumeration value="TimeslotRecord" />
                                <xs:enumeration value="SingleRecord" />
                                <xs:enumeration value="AllRecord" />
                                <xs:enumeration value="FindOneRecord" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="image" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="arrow">
                <xs:complexType>
                    <xs:attribute name="direction" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:token">
                                <xs:enumeration value="left" />
                                <xs:enumeration value="right" />
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="image" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
            <xs:element name="font" type="xs:string" />
            <xs:group ref="widgets" />
        </xs:sequence>
        <xs:attributeGroup ref="common_attributes" />
    </xs:complexType>
    <xs:element name="guidegrid">

    </xs:element>


    <!-- Webbrowser Widget -->
    <xs:element name="webbrowser">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="widget_common" />
                <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="zoom" type="xs:decimal" minOccurs="0" maxOccurs="1" />
                <xs:element name="background" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:attribute name="color" type="color" use="required" />
                        <xs:attribute name="alpha" type="alpha" />
                    </xs:complexType>
                </xs:element>
                <xs:element name="userstylesheet" type="xs:string" minOccurs="0" maxOccurs="1" />
                <xs:element name="updateinterval" type="xs:integer" minOccurs="0" maxOccurs="1" />
                <xs:group ref="widgets" />
            </xs:sequence>
            <xs:attributeGroup ref="common_attributes" />
        </xs:complexType>
    </xs:element>

</xs:schema>
