mythtv/themes/mythuitheme.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp2 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:complexType name="mythuitheme">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="window"/>
			<xs:element ref="fontdef"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="mythuitheme" type="mythuitheme"/>
	<xs:complexType name="fontdef">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="pixelsize"/>
			<xs:element ref="size"/>
			<xs:element ref="color"/>
			<xs:element ref="shadowcolor"/>
			<xs:element ref="shadowoffset"/>
			<xs:element ref="shadowalpha"/>
			<xs:element ref="outlinecolor"/>
			<xs:element ref="outlinesize"/>
			<xs:element ref="outlinealpha"/>
			<xs:element ref="italics"/>
			<xs:element ref="weight"/>
			<xs:element ref="bold"/>
			<xs:element ref="letterspacing"/>
			<xs:element ref="wordspacing"/>
			<xs:element ref="decoration"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
		<xs:attribute name="face" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="fontdef" type="fontdef"/>
	<xs:complexType name="pixelsize" mixed="true"/>
	<xs:element name="pixelsize" type="pixelsize"/>
	<xs:complexType name="size" mixed="true"/>
	<xs:element name="size" type="size"/>
	<xs:complexType name="color" mixed="true"/>
	<xs:element name="color" type="color"/>
	<xs:complexType name="shadowcolor" mixed="true"/>
	<xs:element name="shadowcolor" type="shadowcolor"/>
	<xs:complexType name="shadowoffset" mixed="true"/>
	<xs:element name="shadowoffset" type="shadowoffset"/>
	<xs:complexType name="shadowalpha" mixed="true"/>
	<xs:element name="shadowalpha" type="shadowalpha"/>
	<xs:complexType name="outlinecolor" mixed="true"/>
	<xs:element name="outlinecolor" type="outlinecolor"/>
	<xs:complexType name="outlinesize" mixed="true"/>
	<xs:element name="outlinesize" type="outlinesize"/>
	<xs:complexType name="outlinealpha" mixed="true"/>
	<xs:element name="outlinealpha" type="outlinealpha"/>
	<xs:complexType name="italics" mixed="true"/>
	<xs:element name="italics" type="italics"/>
	<xs:complexType name="weight" mixed="true"/>
	<xs:element name="weight" type="weight"/>
	<xs:complexType name="letterspacing" mixed="true"/>
	<xs:element name="letterspacing" type="letterspacing"/>
	<xs:complexType name="wordspacing" mixed="true"/>
	<xs:element name="wordspacing" type="wordspacing"/>
	<xs:complexType name="decoration" mixed="true"/>
	<xs:element name="decoration" type="decoration"/>
	<xs:complexType name="window">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="fontdef"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="window" type="window"/>
	<xs:complexType name="area" mixed="true"/>
	<xs:element name="area" type="area"/>
	<xs:complexType name="position" mixed="true"/>
	<xs:element name="position" type="position"/>
	<xs:complexType name="alpha" mixed="true"/>
	<xs:element name="alpha" type="alpha"/>
	<xs:complexType name="alphapulse">
		<xs:attribute name="min" type="xs:anySimpleType" default="0"/>
		<xs:attribute name="max" type="xs:anySimpleType" default="255"/>
		<xs:attribute name="change" type="xs:anySimpleType" default="5"/>
	</xs:complexType>
	<xs:element name="alphapulse" type="alphapulse"/>
	<xs:complexType name="helptext" mixed="true">
		<xs:attribute name="lang" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="helptext" type="helptext"/>
	<xs:complexType name="focusorder" mixed="true"/>
	<xs:element name="focusorder" type="focusorder"/>
	<xs:complexType name="minsize" mixed="true"/>
	<xs:element name="minsize" type="minsize"/>
	<xs:complexType name="loadondemand" mixed="true"/>
	<xs:element name="loadondemand" type="loadondemand"/>
	<xs:complexType name="textarea">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:choice>
				<xs:element ref="case"/>
				<xs:element ref="font"/>
				<xs:element ref="cutdown"/>
				<xs:element ref="multiline"/>
				<xs:element ref="align"/>
				<xs:element ref="colorcycle"/>
				<xs:element ref="scroll"/>
				<xs:element ref="value"/>
				<xs:element ref="template"/>
			</xs:choice>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="textarea" type="textarea"/>
	<xs:complexType name="case" mixed="true"/>
	<xs:element name="case" type="case"/>
	<xs:complexType name="font" mixed="true">
		<xs:attribute name="state" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="font" type="font"/>
	<xs:complexType name="cutdown" mixed="true"/>
	<xs:element name="cutdown" type="cutdown"/>
	<xs:complexType name="multiline" mixed="true"/>
	<xs:element name="multiline" type="multiline"/>
	<xs:complexType name="align" mixed="true"/>
	<xs:element name="align" type="align"/>
	<xs:complexType name="colorcycle" mixed="true">
		<xs:attribute name="start" type="xs:anySimpleType"/>
		<xs:attribute name="end" type="xs:anySimpleType"/>
		<xs:attribute name="steps" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="colorcycle" type="colorcycle"/>
	<xs:complexType name="scroll" mixed="true">
		<xs:attribute name="direction" default="left">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="up"/>
					<xs:enumeration value="right"/>
					<xs:enumeration value="down"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="scroll" type="scroll"/>
	<xs:complexType name="value" mixed="true">
		<xs:attribute name="lang" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="value" type="value"/>
	<xs:complexType name="template" mixed="true">
		<xs:attribute name="type" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="template" type="template"/>
	<xs:complexType name="imagetype">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="filename"/>
			<xs:element ref="preserveaspect"/>
			<xs:element ref="crop"/>
			<xs:element ref="mask"/>
			<xs:element ref="reflection"/>
			<xs:element ref="grayscale"/>
			<xs:element ref="filepattern"/>
			<xs:element ref="delay"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="imagetype" type="imagetype"/>
	<xs:complexType name="filename" mixed="true"/>
	<xs:element name="filename" type="filename"/>
	<xs:complexType name="preserveaspect" mixed="true"/>
	<xs:element name="preserveaspect" type="preserveaspect"/>
	<xs:complexType name="crop" mixed="true"/>
	<xs:element name="crop" type="crop"/>
	<xs:complexType name="mask" mixed="true"/>
	<xs:element name="mask" type="mask"/>
	<xs:complexType name="reflection">
		<xs:attribute name="axis" type="xs:anySimpleType" default="horizontal"/>
		<xs:attribute name="shear" type="xs:anySimpleType" default="0"/>
		<xs:attribute name="scale" type="xs:anySimpleType" default="100"/>
		<xs:attribute name="length" type="xs:anySimpleType" default="100"/>
		<xs:attribute name="spacing" type="xs:anySimpleType" default="0"/>
	</xs:complexType>
	<xs:element name="reflection" type="reflection"/>
	<xs:complexType name="grayscale" mixed="true"/>
	<xs:element name="grayscale" type="grayscale"/>
	<xs:complexType name="greyscale" mixed="true"/>
	<xs:element name="greyscale" type="greyscale"/>
	<xs:complexType name="filepattern" mixed="true">
		<xs:attribute name="low" type="xs:anySimpleType" default="0"/>
		<xs:attribute name="high" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="cycle" default="start">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="start"/>
					<xs:enumeration value="reverse"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="delay" type="xs:anySimpleType" default="500"/>
	</xs:complexType>
	<xs:element name="filepattern" type="filepattern"/>
	<xs:complexType name="delay" mixed="true"/>
	<xs:element name="delay" type="delay"/>
	<xs:complexType name="shape">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="type"/>
			<xs:element ref="cornerradius"/>
			<xs:element ref="fill"/>
			<xs:element ref="line"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="shape" type="shape"/>
	<xs:complexType name="type" mixed="true"/>
	<xs:element name="type" type="type"/>
	<xs:complexType name="fill">
		<xs:sequence>
			<xs:element ref="gradient" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="color" type="xs:anySimpleType"/>
		<xs:attribute name="alpha" type="xs:anySimpleType"/>
		<xs:attribute name="style" default="solid">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="solid"/>
					<xs:enumeration value="gradient"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="fill" type="fill"/>
	<xs:complexType name="gradient">
		<xs:sequence>
			<xs:element ref="stop" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="start" type="xs:anySimpleType"/>
		<xs:attribute name="end" type="xs:anySimpleType"/>
		<xs:attribute name="alpha" type="xs:anySimpleType"/>
		<xs:attribute name="direction" default="vertical">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="horizontal"/>
					<xs:enumeration value="vertical"/>
					<xs:enumeration value="diagonal"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="gradient" type="gradient"/>
	<xs:complexType name="stop" mixed="true">
		<xs:attribute name="position" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="color" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="alpha" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="stop" type="stop"/>
	<xs:complexType name="line" mixed="true">
		<xs:attribute name="color" type="xs:anySimpleType" default="#000000"/>
		<xs:attribute name="alpha" type="xs:anySimpleType" default="255"/>
		<xs:attribute name="width" type="xs:anySimpleType" default="1"/>
		<xs:attribute name="style" default="solid">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="solid"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="line" type="line"/>
	<xs:complexType name="cornerradius" mixed="true"/>
	<xs:element name="cornerradius" type="cornerradius"/>
	<xs:complexType name="statetype">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="showempty"/>
			<xs:element ref="state"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="statetype" type="statetype"/>
	<xs:complexType name="showempty" mixed="true"/>
	<xs:element name="showempty" type="showempty"/>
	<xs:complexType name="state">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="fontdef"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType"/>
		<xs:attribute name="type" type="xs:anySimpleType"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="state" type="state"/>
	<xs:complexType name="clock">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:choice>
				<xs:element ref="case"/>
				<xs:element ref="font"/>
				<xs:element ref="cutdown"/>
				<xs:element ref="multiline"/>
				<xs:element ref="align"/>
				<xs:element ref="colorcycle"/>
				<xs:element ref="scroll"/>
				<xs:element ref="value"/>
				<xs:element ref="template"/>
			</xs:choice>
			<xs:element ref="format"/>
			<xs:element ref="secondflash"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="clock" type="clock"/>
	<xs:complexType name="secondflash" mixed="true"/>
	<xs:element name="secondflash" type="secondflash"/>
	<xs:complexType name="button">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="value"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="button" type="button"/>
	<xs:complexType name="buttonlist">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="layout"/>
			<xs:element ref="spacing"/>
			<xs:element ref="arrange"/>
			<xs:element ref="align"/>
			<xs:element ref="scrollstyle"/>
			<xs:element ref="wrapstyle"/>
			<xs:element ref="showarrow"/>
			<xs:element ref="buttonarea"/>
			<xs:element ref="drawfrombottom"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="buttonlist" type="buttonlist"/>
	<xs:complexType name="layout" mixed="true"/>
	<xs:element name="layout" type="layout"/>
	<xs:complexType name="spacing" mixed="true"/>
	<xs:element name="spacing" type="spacing"/>
	<xs:complexType name="arrange" mixed="true"/>
	<xs:element name="arrange" type="arrange"/>
	<xs:complexType name="scrollstyle" mixed="true"/>
	<xs:element name="scrollstyle" type="scrollstyle"/>
	<xs:complexType name="wrapstyle" mixed="true"/>
	<xs:element name="wrapstyle" type="wrapstyle"/>
	<xs:complexType name="showarrow" mixed="true"/>
	<xs:element name="showarrow" type="showarrow"/>
	<xs:complexType name="buttonarea" mixed="true"/>
	<xs:element name="buttonarea" type="buttonarea"/>
	<xs:complexType name="drawfrombottom" mixed="true"/>
	<xs:element name="drawfrombottom" type="drawfrombottom"/>
	<xs:complexType name="buttontree">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="numlists"/>
			<xs:element ref="spacing"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="buttontree" type="buttontree"/>
	<xs:complexType name="numlists" mixed="true"/>
	<xs:element name="numlists" type="numlists"/>
	<xs:complexType name="textedit">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="textedit" type="textedit"/>
	<xs:complexType name="checkbox">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="checkbox" type="checkbox"/>
	<xs:complexType name="spinbox">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="layout"/>
			<xs:element ref="spacing"/>
			<xs:element ref="arrange"/>
			<xs:element ref="align"/>
			<xs:element ref="scrollstyle"/>
			<xs:element ref="wrapstyle"/>
			<xs:element ref="showarrow"/>
			<xs:element ref="buttonarea"/>
			<xs:element ref="drawfrombottom"/>
			<xs:element ref="template"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="spinbox" type="spinbox"/>
	<xs:complexType name="progressbar">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="layout"/>
			<xs:element ref="style"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="progressbar" type="progressbar"/>
	<xs:complexType name="style" mixed="true"/>
	<xs:element name="style" type="style"/>
	<xs:complexType name="guidegrid">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="layout"/>
			<xs:element ref="channels"/>
			<xs:element ref="timeslots"/>
			<xs:element ref="solidcolor"/>
			<xs:element ref="selector"/>
			<xs:element ref="showcategories"/>
			<xs:element ref="categoryalpha"/>
			<xs:element ref="recordingcolor"/>
			<xs:element ref="conflictingcolor"/>
			<xs:element ref="cutdown"/>
			<xs:element ref="multiline"/>
			<xs:element ref="textoffset"/>
			<xs:element ref="recordstatus"/>
			<xs:element ref="arrow"/>
			<xs:element ref="font"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="guidegrid" type="guidegrid"/>
	<xs:complexType name="channels" mixed="true"/>
	<xs:element name="channels" type="channels"/>
	<xs:complexType name="timeslots" mixed="true"/>
	<xs:element name="timeslots" type="timeslots"/>
	<xs:complexType name="solidcolor" mixed="true"/>
	<xs:element name="solidcolor" type="solidcolor"/>
	<xs:complexType name="selector">
		<xs:attribute name="type">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="highlight"/>
					<xs:enumeration value="box"/>
					<xs:enumeration value="roundbox"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="linecolor" type="xs:anySimpleType"/>
		<xs:attribute name="fillcolor" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="selector" type="selector"/>
	<xs:complexType name="showcategories" mixed="true"/>
	<xs:element name="showcategories" type="showcategories"/>
	<xs:complexType name="categoryalpha" mixed="true"/>
	<xs:element name="categoryalpha" type="categoryalpha"/>
	<xs:complexType name="recordingcolor" mixed="true"/>
	<xs:element name="recordingcolor" type="recordingcolor"/>
	<xs:complexType name="conflictingcolor" mixed="true"/>
	<xs:element name="conflictingcolor" type="conflictingcolor"/>
	<xs:complexType name="textoffset" mixed="true"/>
	<xs:element name="textoffset" type="textoffset"/>
	<xs:complexType name="recordstatus">
		<xs:attribute name="type" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ChannelRecord"/>
					<xs:enumeration value="WeekslotRecord"/>
					<xs:enumeration value="OverrideRecord"/>
					<xs:enumeration value="TimeslotRecord"/>
					<xs:enumeration value="SingleRecord"/>
					<xs:enumeration value="AllRecord"/>
					<xs:enumeration value="FindOneRecord"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="image" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="recordstatus" type="recordstatus"/>
	<xs:complexType name="arrow">
		<xs:attribute name="direction" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="left"/>
					<xs:enumeration value="right"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="image" type="xs:anySimpleType" use="required"/>
	</xs:complexType>
	<xs:element name="arrow" type="arrow"/>
	<xs:complexType name="webbrowser">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="area"/>
			<xs:element ref="position"/>
			<xs:element ref="alpha"/>
			<xs:element ref="alphapulse"/>
			<xs:element ref="helptext"/>
			<xs:element ref="focusorder"/>
			<xs:element ref="minsize"/>
			<xs:element ref="loadondemand"/>
			<xs:element ref="url"/>
			<xs:element ref="zoom"/>
			<xs:element ref="background"/>
			<xs:element ref="userstylesheet"/>
			<xs:element ref="updateinterval"/>
			<xs:element ref="textarea"/>
			<xs:element ref="imagetype"/>
			<xs:element ref="statetype"/>
			<xs:element ref="button"/>
			<xs:element ref="buttonlist"/>
			<xs:element ref="buttontree"/>
			<xs:element ref="textedit"/>
			<xs:element ref="checkbox"/>
			<xs:element ref="spinbox"/>
			<xs:element ref="progressbar"/>
			<xs:element ref="clock"/>
			<xs:element ref="webbrowser"/>
			<xs:element ref="shape"/>
			<xs:element ref="guidegrid"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="from" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="webbrowser" type="webbrowser"/>
	<xs:complexType name="url" mixed="true"/>
	<xs:element name="url" type="url"/>
	<xs:complexType name="zoom" mixed="true"/>
	<xs:element name="zoom" type="zoom"/>
	<xs:complexType name="background" mixed="true">
		<xs:attribute name="color" type="xs:anySimpleType" use="required"/>
		<xs:attribute name="alpha" type="xs:anySimpleType"/>
	</xs:complexType>
	<xs:element name="background" type="background"/>
	<xs:complexType name="userstylesheet" mixed="true"/>
	<xs:element name="userstylesheet" type="userstylesheet"/>
	<xs:complexType name="updateinterval" mixed="true"/>
	<xs:element name="updateinterval" type="updateinterval"/>
	<xs:element name="format"/>
	<xs:element name="bold"/>
</xs:schema>
